* {
  box-sizing: border-box;
}

.calculator {
  display: grid;
  /* We've got a 6 by 4 grid. */
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);

  grid-template-areas:
    "output output output output"
    "c c backspace division"
    "seven eight nine multiplication"
    "four five six subtraction"
    "one two three addition"
    "zero zero zero equality";

  gap: 0px;
  align-items: stretch;

  width: 300px;
  height: 450px;
  margin-left: auto;
  margin-right: auto;
}

.calculator > * {
  border: 1px solid black;
  background-color: lightgray;
  color: black;
  height: 100%;
  text-align: center;
}

.display-output {
  grid-area: output;
  background-color: black;
  color: white;
  text-align: right;
  /*
  grid-column-start: 1;
  grid-column-end: -1;
  */
}

.control-c {
  grid-area: c;
  text-transform: uppercase;
}

.control-backspace {
  grid-area: backspace;
}

.control-division {
  grid-area: division;
  background-color: orange;
}


.control-multiplication {
  grid-area: multiplication;
  background-color: orange;
}

.control-subtraction {
  grid-area: subtraction;
  background-color: orange;
}
.control-addition {
  grid-area: addition;
  background-color: orange;
}

.control-equality {
  grid-area: equality;
  background-color: orange;
}

.control-zero {
  grid-area: zero;
}

.control-one {
  grid-area: one;
}

.control-two {
  grid-area: two;
}

.control-three {
  grid-area: three;
}

.control-four {
  grid-area: four;
}

.control-five {
  grid-area: five;
}

.control-six {
  grid-area: six;
}

.control-seven {
  grid-area: seven;
}

.control-eight {
  grid-area: eight;
}

.control-nine {
  grid-area: nine;
}
